.success-100 {
    color: #E2FBD7;
}

.success-200 {
    color: #C0F8B0;
}

.success-300 {
    color: #92EB85;
}

.success-400 {
    color: #67D863;
}

.success-500 {
    color: #35BF3C;
}

.success-600 {
    color: #26A438;
}

.success-700 {
    color: #1A8934;
}

.success-800 {
    color: #106E2E;
}

.success-900 {
    color: #0A5B2B;
}

.info-100 {
    color: #CFFAFF;
}

.info-200 {
    color: #9FEFFF;
}

.info-300 {
    color: #6FDEFF;
}

.info-400 {
    color: #4BCBFF;
}

.info-500 {
    color: #0FABFF;
}

.info-600 {
    color: #0A85DB;
}

.info-700 {
    color: #0763B7;
}

.info-800 {
    color: #044693;
}

.info-900 {
    color: #02327A;
}

.warning-100 {
    color: #FFFCCE;
}

.warning-200 {
    color: #FFF89D;
}

.warning-300 {
    color: #FFF36D;
}

.warning-400 {
    color: #FFEE48;
}

.warning-500 {
    color: #FFE60C;
}

.warning-600 {
    color: #DBC308;
}

.warning-700 {
    color: #B7A106;
}

.warning-800 {
    color: #938003;
}

.warning-900 {
    color: #7A6802;
}

.danger-100 {
    color: #FFE4D6;
}

.danger-200 {
    color: #FFC3AD;
}

.danger-300 {
    color: #FF9B83;
}

.danger-400 {
    color: #FF7565;
}

.danger-500 {
    color: #FF3632;
}

.danger-600 {
    color: #DB2430;
}

.danger-700 {
    color: #B71931;
}

.danger-800 {
    color: #930F2F;
}

.danger-900 {
    color: #7A092E;
}