.primary-50 {
    color: #e9eaff;
}

.primary-100 {
    color: #c7caff;
}

.primary-200 {
    color: #9ea7ff;
}

.primary-300 {
    color: #7184ff;
}

.primary-400 {
    color: #4966ff;
}

.primary-500 {
    color: #0047fc;
}

.primary-600 {
    color: #003ef0;
}

.primary-700 {
    color: #0032e3;
}

.primary-800 {
    color: #0024d9;
}

.primary-900 {
    color: #0000c9;
}

.complementary-50 {
    color: #fef8e1;
}

.complementary-100 {
    color: #feecb3;
}

.complementary-200 {
    color: #fde183;
}

.complementary-300 {
    color: #fcd650;
}

.complementary-400 {
    color: #fccb29;
}

.complementary-500 {
    color: #fcc309;
}

.complementary-600 {
    color: #fcb500;
}

.complementary-700 {
    color: #fca200;
}

.complementary-800 {
    color: #fc9100;
}

.complementary-900 {
    color: #fc7200;
}

.analogous-1-50 {
    color: #def6fe;
}

.analogous-1-100 {
    color: #abe6fd;
}

.analogous-1-200 {
    color: #6fd6fc;
}

.analogous-1-300 {
    color: #00c5fc;
}

.analogous-1-400 {
    color: #00b9fe;
}

.analogous-1-500 {
    color: #00acfd;
}

.analogous-1-600 {
    color: #009eee;
}

.analogous-1-700 {
    color: #008adb;
}

.analogous-1-800 {
    color: #0079c7;
}

.analogous-1-900 {
    color: #0059a6;
}

.analogous-2-50 {
    color: #efe5ff;
}

.analogous-2-100 {
    color: #d3bfff;
}

.analogous-2-200 {
    color: #b494ff;
}

.analogous-2-300 {
    color: #9266ff;
}

.analogous-2-400 {
    color: #7340ff;
}

.analogous-2-500 {
    color: #4b05ff;
}

.analogous-2-600 {
    color: #3700fc;
}

.analogous-2-700 {
    color: #0000f4;
}

.analogous-2-800 {
    color: #0000f0;
}

.analogous-2-900 {
    color: #0000ee;
}

.triadic-1-50 {
    color: #f6e3fe;
}

.triadic-1-100 {
    color: #e6b9fd;
}

.triadic-1-200 {
    color: #d688fd;
}

.triadic-1-300 {
    color: #c350fc;
}

.triadic-1-400 {
    color: #b500fc;
}

.triadic-1-500 {
    color: #a500fa;
}

.triadic-1-600 {
    color: #9000f5;
}

.triadic-1-700 {
    color: #7000f0;
}

.triadic-1-800 {
    color: #4d00ed;
}

.triadic-1-900 {
    color: #0000e1;
}

.triadic-2-50 {
    color: #ffe8ee;
}

.triadic-2-100 {
    color: #ffc5d1;
}

.triadic-2-200 {
    color: #f78a95;
}

.triadic-2-300 {
    color: #f0566c;
}

.triadic-2-400 {
    color: #fc0047;
}

.triadic-2-500 {
    color: #ff002a;
}

.triadic-2-600 {
    color: #f3002a;
}

.triadic-2-700 {
    color: #e10024;
}

.triadic-2-800 {
    color: #d5001c;
}

.triadic-2-900 {
    color: #c50010;
}